/*Separate/External CSS file to be linked to an
html file*/


/*
HTML selector - names of HTML tags and are used to
change the style of of a specific type of element
 */
/*
px (such as font-size: 12px) is the unit for pixels.
em (such as font-size: 2em) is the unit for the calculated size of a font. So “2em”, for example, is two times the current font size.
pt (such as font-size: 12pt) is the unit for points, for measurements typically in printed media.
% (such as width: 80%) is the unit for… wait for it… percentages.
 */

 /*
 Margin - space outside something
 Padding - space inside something
 Box Model: Element Box -> Padding Box -> Border Box -> Margin Box
 */

body {
    /*propeties and their values*/
    font-size: 14px;
    color: red;
}

h1 {
    font-size: 2em;
    color: #ffc;
    background-color: #009;
    font-family: Cochin, cursive, Times, 'Times New Roman', serif;
}
h2 {
    font-size: 1.5em;
    background-color: #ccc;
    margin: 20px; /*Leaves 20 pixel width space around secondary header*/
    padding: 40px; /*40 pixel width padding*/
    /*margin-top, margin-right, margin-bottom, margin-left, padding-top, padding-right, padding-bottom, padding-left*/
}
h2 {
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px; /*overrides "border-width"*/
    border-right-width: 10px; /*overrides "border-width"*/
    border-color: red;
}
a {
    text-decoration: none;
}
strong {
    font-style: italic;
    text-transform: uppercase;
}
p {
    letter-spacing: 0.5em;
    word-spacing: 2em;
    line-height: 1.5em;
    text-align: center;
}
img {
    border-style: solid;
    border-width: 2px;
    border-color: #ccc;
}
